.header-container {
  display: flex;
  align-items: center;
  height: 50px;
  padding: 5px;
  gap: 10px;
  background: darkblue;
}
.productContainer {
  border: 1px solid grey;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  margin: 5px;
  border-radius: 10px;
  background: rgb(222, 220, 255);
}

.productContainer h1 {
  color: cornflowerblue;
}

.productContainer img {
  width: 150px;
  border-radius: 20px;
}
